/* Custom utility classes */
.primary-color-bg{
    background-color: #Cc8c27;
}
.primary-color-text{
  color: #Cc8c27;
}
.border-bottom{
  border-bottom: 2px solid rgba(255, 255, 255, 0.3) !important;
}


nav .img-fluid{ /*Company logo navbar */
    height: 75px;
    object-fit: cover;
    /* border-radius: 100%; */
}
/* need !important here to overwrite bootstrap, as boostrap also uses it */
.bg-dark{
    background-color: #161214 !important;
}
.bg-dark-compliment{
  background-color: #121614;
}
/* Navbar highlight colors */
#navbar-links a{
    font-size: 24px;
}
.navbar h4{
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    background-image: linear-gradient(90deg, #8A642F, #F3EA98, #805F32);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}
#navbar-links a:hover > .fa-user{
    color: #f0ad4e;
    transition: 100ms;
}
#navbar-links a:hover > .fa-right-from-bracket{
    color: #d9534f;
    transition: 100ms;
}
#navbar-links a:hover > .fa-envelope{
    color: #0275d8;
    transition: 100ms;
}
#navbar-links a:hover > .fa-toolbox{
    color: #6610f2;
    transition: 100ms;
}
#navbar-links a:hover > .fa-house{
    color: #d63384;
    /* color: #f0ad4e; */
    transition: 100ms;
}
#navbar-links a:hover > .fa-cart-shopping{
    color: #5cb85c;
    transition: 100ms;
}
/* Category nav bar */
#category-nav-bar {
    background-color: #Cc8c27;
}
#category-nav-bar a {
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
}
#category-nav-bar a:hover {
    background-color: #8A642F!important;
    transition: 100ms;
}

/* Carousel */
.carousel-control-next, .carousel-control-prev {
    /* background-color:rgba(124,0,0,0.3); */
    background-color:rgba(0,0,0,0.75);
}
/* Control carousel image height here */
.carousel-item img{
    height: 70vh;
    object-fit: cover;
    max-height: 100%;
}
.carousel-controls i{
    color: black;
    opacity: 2;
}
.carousel .fa-circle-arrow-left,.carousel .fa-circle-arrow-right{
color: #fff;
opacity: 1;
}

/* Homepage Cards */
#card-row{
    margin-top: 100px;
}
  .homepage-cards .card {
    border: none;
    overflow: hidden;
    border-radius: 20px;
    min-height: 400px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    /* images in cards */
    transition: all 500ms cubic-bezier(0.17,1,0.18,1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    /* aspect-ratio: 1/1; */
  }
  #-scrap-car-card{
    background-color: red;

  }
  #tutorial-card{
    background-color: red!important;
    
  }
  #peoduct-catalogue-card{
    color: red!important;
  }
  .homepage-cards .card-img-overlay {
    transition: all 500ms cubic-bezier(0.17,1,0.18,1);
    background: linear-gradient(0deg,rgba(35,79,109,0.30) 0%,#455f71 100%);
  }
  .homepage-cards .card:before {
    /* Greyscale effect on cards */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  /* Card effect on hover, shadow etc. */
  .homepage-cards .card:hover {
    transform: scale(0.95); /* Shrink on hover */
    box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size: 140%; /* zoom in on hover */
    transition: all 500ms cubic-bezier(0.17,1,0.18,1);
  }
  /* Card image/image-overlay effect on card hover */
  .homepage-cards .card:hover > .card-img-overlay{
    background: linear-gradient(0deg,rgba(35,79,109,0) 0%,#455f71 100%);
  }
  /* Gray out effect on cards */
  .homepage-cards .card:hover:before{
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .homepage-cards .card-body {
    transition: all 500ms cubic-bezier(0.19,1,0.22,1);
   } 

  /* Footer */
  footer {
    position: relative;
    overflow: hidden;
  }
  .footer-logo{
    height: 175px;
    object-fit: cover;
    /* border-radius: 100%; */
}
footer h3{
  font-family: 'Fugaz One', cursive;
  font-size: 25px;
  color: #fff;
}
footer form label{
color: #fff;
}
/* footer .logo-wrapper{
  height: 200px;
} */
.social-media-icons-wrapper{
  list-style-type: none;
}
.social-media-icons-wrapper a{
  color: rgba(255, 255, 255, 0.3);
}
.social-media-icons-wrapper a:hover, .social-media-icons-wrapper a:hover > i {
  color: #fff;
  transform: scale(125%);
  transition: 200ms;
}
    footer .subheading {
      color: rgba(255, 255, 255, 0.3);
      text-transform: uppercase;
      letter-spacing: 2px; }
    footer .heading-section {
      color: #fff;
      font-size: 30px;
      text-transform: uppercase; }
      
      footer .logo-header {
        background-image: linear-gradient(90deg, #8A642F, #F3EA98, #805F32);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent !important; 
      }
footer .submit-button {
border: none;
background-color:#Cc8c27;
transition: 200ms;
color: #fff;
}
footer .submit-button:hover {
  transform: scale(110%) !important;
  }
 /* Product page form */
 .form-container{
  max-height: 500px;
 }
  /* Product cards */
  .add-product-btn {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px  #212121;
}
  .product-cards .card{
    color: white;
  }
  .product-cards .cart-btn{
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
    color: #fff;
    border: 3px solid #eee;
    border-radius: 35px;
    transition: 200ms;
    min-width: 150px;
}
.product-cards .cart-btn:hover{
  background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
  background: linear-gradient(to left, #a8e063, #56ab2f);
 transform: scale(105%);
}
.product-cards .rounded{
  border-radius: 25px !important;
  overflow: hidden;
}
.product-image{
  min-width: 260px;
  object-fit: cover;
}

/* Product page search and category form */
.all-products-btn{
  font-size: 20px;
  border-radius: 20px;
}
.category-btn{
  font-size: 15px;
  border-radius: 20px;
}

#payment-form fieldset > input{
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 5px;
  font-size: 20px;
}
#payment-form fieldset > input::placeholder{
  color: #455f71;
}
#payment-form fieldset input:hover{
  border: 2px solid #Cc8c27;
}



  /* Media queries for cards on homepage */
  @media (max-width: 768px) {
    .card {
      min-height: 350px;
    }
  }
  @media (max-width: 420px) {
    .card {
      min-height: 300px;
    }
  }