{% load static %}
<div class="container-fluid">
      <!-- Start of footer -->
  <footer class="footer bg-dark mt-5">
    <div class="row align-items-center align-items-stretch mb-1">
    <div class="col-lg-4 py-4 py-md-2 d-flex align-items-center bg-dark-compliment">
    <div class="w-100">
      <div class="d-flex flex-column align-items-center">
        <span class="subheading">Add a part to your</span>
        <h3 class="heading-section">Wishlist</h3>
      </div>

    <form method="POST" class="d-flex flex-column align-items-center" data-car_models-url="{% url 'ajax_load_car_models' %}" action="#">
      <div class="row wishlist-choices mx-3 d-flex justify-content-around">
      <div class="col-md-6 col-4 mb-3 form-group px-3">
        <select class="form-control" id="wishlist_id_make">
          <option value="0" selected>Make</option>
          {% for make in makes %}
          <option name="make" value="{{make.id}}">{{make.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6 col-4 mb-3 form-group px-3">
        <select name="car_model" class="form-control" id="wishlist_id_car_model">
          <option value="0" selected>Model</option>
          {% for car_model in car_models %}
          <option value="{{car_model.id}}">{{car_model.car_model}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6 col-4 mb-3 form-group px-3">
        <select name="part" class="form-control" id="wishlist_id_year">
          <option value="0" selected>Part</option>
          {% for part in parts %}
          <option value="{{part.id}}">{{part.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6 col-12 mb-3 form-group">
        <select name="model_year" class="form-control" id="wishlist_id_year">
          <option value="0" selected>Year</option>
          {% for year in years %}
          <option value="{{year}}">{{year}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-0 form-group mb-0">
        <p class="text-white text-center h5">I want to be notified:</p>
      </div>
      <div class="col-md-6 col-12 form-group mb-0">
        <input type="checkbox" id="wishlist_id_on_add" name="on_add">  
        <label for="wishlist_id_on_add"> When part is added </label>

      </div>
      <div class="col-md-6 col-12 form-group mb-0">
        <input type="checkbox" id="wishlist_id_on_sale" name="on_sale">  
        <label for="wishlist_id_on_sale"> When part is on sale </label>
      </div>
    </div>
      
      <button type="submit" class="btn-lg mt-2 submit-button">Add to Wishlist</button>
    </form>
    </div>
    </div>
    <div class="col-lg-4 py-5 d-flex h-50 flex-column align-items-center justify-content-start">
      <div class="logo-wrapper d-flex flex-column align-items-center justify-content-center">
        <img src="{% static 'static-images/mgc-logo.png' %}" alt="mgc-dismantlers-footer-logo" class="footer-logo">
        <h3 class="logo-header mb-0 mt-2 text-center">MCG Dismantlers</h3>
      </div>
        <ul class="d-flex justify-content-around social-media-icons-wrapper w-75 mt-2 px-3">
          <li><a href="https://www.facebook.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-facebook"></i>
        </a></li>
        <li><a href="https://www.twitter.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-twitter"></i>
        </a></li>
        <li><a href="https://www.youtube.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-youtube"></i>
        </a></li>
        <li><a href="https://www.instagram.com" target="_blank">
                <i class="fa-social-media-link fa-brands fa-2xl fa-instagram"></i>
        </a></li>
        <li><a href="https://www.linkedin.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-linkedin"></i>
        </a></li>
        </ul>

      
  </div>
    </div>
      
    </footer>
</div>