<div class="container-fluid">
      <!-- Start of footer -->
  <footer class="footer bg-dark mt-5">
    <div class="row align-items-center align-items-stretch mb-1">
    <div class="col-lg-4 py-4 py-md-2 d-flex align-items-center bg-dark-compliment">
    <div class="w-100">
      <div class="d-flex flex-column align-items-center">
        <span class="subheading">Add a part to your</span>
        <h3 class="heading-section">Wishlist</h3>
      </div>

    <form class="d-flex flex-column align-items-center">
      <div class="row wishlist-choices mx-3 d-flex justify-content-around">
      <div class="col-md-6 col-4 mb-3 form-group px-3">
        <select class="form-control" id="make">
          <option selected>Make</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-6 col-4 mb-3 form-group px-3">
        <select class="form-control" id="model">
          <option selected>Model</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-6 col-4 mb-3 form-group px-3">
        <select class="form-control" id="year">
          <option selected>1996</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-6 col-12 mb-3 form-group">
        <input type="email" class="form-control" placeholder="email" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
      
      <button type="submit" class="btn-lg mt-2 submit-button">Add to Wishlist</button>
    </form>
    </div>
    </div>
    <div class="col-lg-4 py-5 d-flex h-50 flex-column align-items-center justify-content-start">
      <div class="logo-wrapper d-flex flex-column align-items-center justify-content-center">
        <img src="static/static-images/mgc-logo.png" alt="mgc-dismantlers-footer-logo" class="footer-logo">
        <h3 class="logo-header mb-0 mt-2 text-center">MCG Dismantlers</h3>
      </div>
        <ul class="d-flex justify-content-around social-media-icons-wrapper w-75 mt-2 px-3">
          <li><a href="https://www.facebook.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-facebook"></i>
        </a></li>
        <li><a href="https://www.twitter.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-twitter"></i>
        </a></li>
        <li><a href="https://www.youtube.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-youtube"></i>
        </a></li>
        <li><a href="https://www.instagram.com" target="_blank">
                <i class="fa-social-media-link fa-brands fa-2xl fa-instagram"></i>
        </a></li>
        <li><a href="https://www.linkedin.com" target="_blank">
            <i class="social-media-link fa-brands fa-2xl fa-linkedin"></i>
        </a></li>
        </ul>

      
  </div>
    </div>
      
    </footer>
</div>