{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1 sticky-top">
    <div class="container-fluid pl-0">
        <a href="{% url 'homepage' %}" class="pl-3 pl-lg-0 mr-0 display-4 navbar-brand font-weight-bold logo">
          <img src="{% static 'static-images/mgc-logo.png' %}" alt="MGC Dismantlers logo" class="img-fluid"></a><h4 class="mb-0">MCG Dismantlers</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
            aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                <ul class="navbar-nav ms-auto fs-1">
                    <li class="nav-item">
                        <div>
                            <a href="{% url 'homepage' %}" class="nav-link navlink">
                                <i class="fa-solid fa-house ml-3 mr-2"></i>Home</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <a href="{% url 'products' %}" class="nav-link navlink">
                                <i class="fa-solid fa-toolbox ml-3 mr-2"></i>Products</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <a href="#" class="nav-link navlink" data-toggle="modal" data-target="#contact-modal">
                                <i class="fas fa-envelope ml-3 mr-2"></i>Contact
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex flex-column align-items-center">
                            <a href="#" class="nav-link navlink">
                                <i class="fa-solid fa-user ml-3 mr-2"></i>My Account
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <a href="{% url 'cart' %}" class="nav-link navlink">
                                <i class="fa-solid fa-cart-shopping ml-3 mr-2"></i>Cart
                            </a>
                        </div>
                    </li>
            {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div>
                            <a href="{% url 'account_logout' %}" class="nav-link navlink">
                                <i class="fa-solid fa-right-from-bracket ml-3 mr-2"></i>Logout
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ms-auto fs-1 text-white">
                    <li class="nav-item">
                        <div>
                            <a class="nav-link navlink" href="{% url 'account_login' %}">
                                <i class="fa-solid fa-right-from-bracket ml-3 mr-2"></i>Login/Create account
                            </a>
                        </div>
                    </li>
            {% endif %}
                </ul>
        </div>
    </div>
</nav>
<!-- End of Navbar -->