{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-xl-2 col-12">
            <div class="bg-primary form-container">
                <form method="GET" action="{% url 'search_product' %}">
                    <div class="input-group w-100">
                        <input required class="form-control border border-black rounded-0" type="text" name="user_search_query" placeholder="Search a part">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="{% url 'products' %}">
                        <button type="button" class="btn btn-dark all-products-btn my-3 w-100">All products</button>
                        </a>
                </div>
                    {% for category in categories %}
                    <div class="col-md-2 col-sm-3 col-4 col-xl-6 pr-0 pl-1">
                    <a href="{% url 'categorize_products' category.friendly_name %}">
                    <button type="button" class="btn btn-danger category-btn h6 w-100 mb-1 btn-secondary">{{category.friendly_name}}</button>
                    </a>
                </div>
                    {% endfor %}
                    <div class="col-md-2 col-sm-3 col-4 col-xl-6 pr-0 pl-1">
                        <a href="{% url 'products' %}">
                        <button type="button" class="btn btn-danger category-btn w-100 mb-1 btn-secondary">On sale</button>
                        </a>
                    </div>
            </div>
            <!-- Sorting functionality -->
            <div class="row">
                <div class="col">
                    <form method="GET" action="{% url 'products' %}" class="mt-5" id="filter-form">
                        {{ product_filter.form.as_p }}
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit"> Filter
                                </button>
                    </form>
                    <!-- <div class="form">

                    </div> -->
                    <!-- ADD another form here which is just a dropdown box and which has an icon appended to it for a button (Or some type of button) When clicked, calls product view. in products view, write: if request.GET["sortkey"]: products.order_by(sortkey)
                    
                    The dropdown will be a select element with options, specifically make, model, price and year. So, first 2 are alphabetical, next 2 are numeral. With the numberal ones, do (asc) and (desc) also. The select element should have a name of sortkey-->
                </div>
            </div>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-xl-12 col-sm-4 col-md-3 col-8 offset-2 offset-sm-0 d-flex justify-content-center">
                    <a class="btn-lg add-product-btn text-center mb-4" href="{% url 'add_product' %}">Add Product</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-xl-8 col-sm-12 product-card-column">
            {% for product in products %}
            {% if product.in_a_cart == False %}
            <div class="row product-cards">
            <div class="col-12">
                <div class="card rounded bg-dark mb-4">
                    
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-12">
                            {% if product.image %}
                            <a href="#">
                            <img src="{{product.image.url}}" class="card-img-top product-image img-responsive h-100" alt="...">
                        </a>
                            {% endif %}
                        </div>
                        <div class="col-xl-6 col-md-6 col-12 d-md-flex flex-column">
                            <div class="card-body">
                                <a href="#">
                                <h5 class="card-title primary-color-text">{{product.create_card_title}}</h5>
                                </a>
                                <p class="card-text">{{product.id}} With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With</p>
                                <ul class="d-flex list-unstyled">
                                {% if product.color %}
                                    <li><i class=" mr-2 fa-solid fa-palette"></i>{{product.color}}</li>
                                {% endif %}
                                {% if product.grade %}
                                    <li><i class=" mx-2 ml-4 fa-solid fa-chart-simple"></i>{{product.grade}}</li>
                                {% endif %}
                                {% if product.fuel %}
                                    <li><i class=" mx-2 ml-4 fa-solid fa-gas-pump"></i>{{product.fuel}}</li>
                                {% endif %}
                                </ul>
                                <div class="h-25 d-flex flex-column">
                                    <p class="card-text h5 mt-5">€{{product.price}}</p>
                                </div>
                        </div>
                        <!-- This row only shows on small to large devices -->
                        <!-- Edit/delete/add to cart buttons for small to large devices -->
                        <div class="row d-xl-none d-flex">
                            <div class="col d-flex flex-column pl-md-4 pr-md-5">
                                {% if request.user.is_superuser %}
                                    <small class="h6 mt-2 mr-3 mb-md-4 ml-md-2 w-75 d-flex align-items-end ml-5 mb-4">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                {% endif %}
                                <a href="{% url 'add_to_cart' product.id %}" data-product-id={{product.id}} class="btn align-self-center font-weight-bold cart-btn mb-4 mr-xl-5 w-xl-100 w-75"><i class=" mr-2 fa-solid fa-cart-shopping"></i>Add to cart</a>
                        </div>
                  </div>

                  <!-- This column only shows on xl devices  -->
                  <!-- Edit/delete/add to cart buttons for xl devices -->
                </div>
                <div class="col-xl-2 d-none d-xl-flex flex-column justify-content-end align-items-center">
                    {% if request.user.is_superuser %}
                    <small class="mb-auto h6 mt-2 mr-3 align-self-end">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                    <a href="{% url 'add_to_cart' product.id %}" data-product-id={{product.id}} class="btn font-weight-bold cart-btn mb-4 mr-5 w-100"><i class=" mr-2 fa-solid fa-cart-shopping"></i>Add to cart</a>
                </div>
                </div>
              </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
        </div>
        

    </div>
    </div>


</div>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<!-- <script>
    // Reorder form so make is on top
    let carMakeSection = $("#id_car_model__make").parent()
    let filterForm = $("#filter-form")
    carMakeSection.prependTo(filterForm)
    // Change id of car make select option to work with ajax
    carMakes = $("#id_car_model__make").children()
    console.log("CARMAKES ", carMakes)
    console.log("SEPARATOR")
    carMakes.each(function(index, make) {
        // make.attr("value", make.html())
        // console.log(index)
        // console.log(make)
        // console.log(make.value)
        // console.log(make.textContent)
        // make.value = make.textContent
        // console.log(make)
    });
    if($(".errorlist")){
            $(".errorlist").remove()
        }
    // $("#id_car_model__make").attr("name", "make")
//     $("#id_car_model__make").each(function(index, value) {
// });
    // .attr("value", carMake.val()))
</script> -->

<!-- <script>
        $("#id_car_model__make").change(function () {
        const url = $("#filter-form").attr("data-car_models-url");  // get the url of the `load_models` view
        const makeId = $(this).val();
        console.log("Change function working")  // get the selected Make ID from the HTML input
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request
            data: {
                'makeId': makeId       // add the make id to the GET parameters
            },
            success: function (data) {
                  // `data` is the return of the `load_models` view function
                  console.log("data from ajax")
                  console.log(data)
                $("#id_car_model").html(data);  // replace the contents of the model input with the data that came from the server
            }
        });

    }); -->
</script>
</script>
{% endblock content %}
