<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-sm-flex px-0 justify-content-sm-end">
            <div class="message-container m-2">
                <div class="toast custom-toast" role="status" aria-live="polite" aria-atomic="true" data-bs-delay="7500" data-bs-autohide="true">
                    <div class="toast-header border-success pl-2 pb-1 bg-dark text-success">
                      <strong class="mr-auto">Success!</strong>
                    </div>
                    <div class="toast-body px-2 pb-5 bg-dark text-white">
                      <span class="mr-auto">{{message}}</span>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</div>