<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-sm-flex px-0 justify-content-sm-end">
      <div class="message-container m-2">
        <div class="toast custom-toast" role="status" aria-live="polite" aria-atomic="true" data-delay="7500">
          <div class="toast-header border-info pl-2 pb-1 bg-dark text-info">
            <strong class="mr-auto">Alert!</strong>
          </div>
          <div class="toast-body px-2 pb-5 bg-dark text-white">
            <span class="mr-auto">{{message}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>